
body {
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}